---
tls:
  options:
    default:
      minVersion: {{ traefik_tls_min_version | default('VersionTLS12') }}
      maxVersion: {{ traefik_tls_max_version | default('VersionTLS13') }}
      preferServerCipherSuites: {{ traefik_tls_prefer_cipher_suites | default(false) }}
      curvePreferences: {{ traefik_tls_curve_preferences | default([]) }}
      cipherSuites: {{ traefik_tls_cipher_suites | default([]) }}
      sniStrict: {{ traefik_tls_sni_strict | default'false') }}
